@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

p,h1 {
  color: white;
  font-family: Roboto;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 15px;
}

.author {
  text-align: right;
  font-size: 8px;
  font-family: Roboto;
}

button {
  background-color: #5eff5eff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  font-family: 'Black Han Sans';
}

b {
  font-size: 30px;
  font-family: 'Black Han Sans'
}
